
.video-grup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 10px;
  z-index: 0;
}


@media (max-width: 800px) {
  .video-grup {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:801px) and (min-width:999px) {
  .video-grup {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: 1000px) {
  .video-grup {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail {
  width: 100%;
}

.thumbnail-row {
  position: relative;
}

.time {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 2px 3px ;
  font-size: 12px;
  bottom: 10px;
  right: 4px;
  border-radius: 2px;
  font-weight: 500;
}

.profile {
  width: 35px;
  border-radius: 50%;
}



.video-info-grid {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.channel-picture {
  cursor: pointer;
  position: relative;
}


.channel-picture .tooltip-channel {
  z-index: 6;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 220px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 15px;
  bottom: -28px;
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.1s;
  white-space: nowrap;
  pointer-events: none;
}

.channel-picture:hover .tooltip-channel   {
  opacity: 1;
}



.image-tooltip {
  border-radius: 50%;
  width: 50px;
  margin-left: 10px;
}

.author-tooltip {
  font-weight: bold;

}

.subscriber-count{
  color: gray;
  font-size: 15px;
}

.text {
  flex: 1;
}

.thumbnail-row {
  margin-bottom: 12px;
}

.video-title {
  margin-top: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.channel-name,
.channel-stats {
  color: rgb(83, 80, 80);
  font-size: 13px;
  margin: 0px;
  line-height: 20px;
}

.channel-name {
  margin-bottom: 3px;
}
